.text-white       {color: #FFF !important;}
.text-red         {color: #F44336 !important;}
.text-pink        {color: #E91E63 !important;}
.text-purple      {color: #9C27B0 !important;}
.text-deep-purple {color: #673AB7 !important;}
.text-indigo      {color: #3F51B5 !important;}
.text-blue        {color: #2196F3 !important;}
.text-light-blue  {color: #03A9F4 !important;}
.text-cyan        {color: #00BCD4 !important;}
.text-teal        {color: #009688 !important;}
.text-green       {color: #4CAF50 !important;}
.text-light-green {color: #8BC34A !important;}
.text-lime        {color: #CDDC39 !important;}
.text-yellow      {color: #FFEB3B !important;}
.text-amber       {color: #FFC107 !important;}
.text-orange      {color: #FF9800 !important;}
.text-deep-orange {color: #FF5722 !important;}
.text-brown       {color: #795548 !important;}
.text-grey        {color: #9E9E9E !important;}
.text-light-grey  {color: #f0f3f4 !important;}
.text-blue-grey   {color: #607D8B !important;}

.text-dark-red         {color: #d32f2f !important;}
.text-dark-pink        {color: #c2185b !important;}
.text-dark-purple      {color: #7b1fa2 !important;}
.text-dark-deep-purple {color: #512da8 !important;}
.text-dark-indigo      {color: #303f9f !important;}
.text-dark-blue        {color: #1976d2 !important;}
.text-dark-light-blue  {color: #0288d1 !important;}
.text-dark-cyan        {color: #0097a7 !important;}
.text-dark-teal        {color: #00796b !important;}
.text-dark-green       {color: #388e3c !important;}
.text-dark-light-green {color: #689f38 !important;}
.text-dark-lime        {color: #afb42b !important;}
.text-dark-yellow      {color: #fbc02d !important;}
.text-dark-amber       {color: #ffa000 !important;}
.text-dark-orange      {color: #f57c00 !important;}
.text-dark-deep-orange {color: #e64a19 !important;}
.text-dark-brown       {color: #5d4037 !important;}
.text-dark-grey        {color: #616161 !important;}
.text-dark-blue-grey   {color: #455a64 !important;}
